.font-style{
    font-family: 'Roboto', sans-serif;
    }
    
    
    #profile-container {
        width: 100%;
        height: 100%;
    }
    #form-signUp {
        // position: absolute;
        inset: 2px;
        border-radius: 8px;
        z-index: 10;
        padding: 50px 40px;
        // display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: hidden;
      
        
    }
    #btn-outline-profile {
        color: #ff0000;
        border-color: #ff0000;
        margin-left: -5px;
        margin-top: 5px;
        background-color: transparent;
    }
    
    #btn-outline-profile:hover {
        background-color: #ff0000;
        color: white;
    }
    
    //user settings 
    
    .user-edit  {
        color: white;
        text-align: center;
        text-decoration: none;
        // margin-bottom: 60px 
    }
    
    .edit-user {
    position: relative;
    right: 8px;
    bottom: 7px;
    }
    
    
    //box styles for signup form 
    #box-profile-view {
        position: relative;
        width: 50%;
        height: 400px;
        border-radius: 8px;
        background-color: rgba(65, 62, 62);
        overflow: hidden;
        text-align: center;
        top: 10em;
    }
    
    //box animation css
    #box-profile-view::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 700px;
        height: 740px;
        // background:  #a3a1a0;
        transform-origin: bottom right;
        animation: animate 6s linear infinite;
    }
    
    #box-profile-view::after{
        content: '';
        position: absolute;
        top: -25%;
        left: -25%;
        width: 700px;
        height: 740px;
        // background:   #ebe3e3;
        transform-origin: bottom right;
        animation: animate 6s linear infinite;
        animation-delay: -3s;
    }
    
    // @keyframes animate {
    //     0%{
    //         transform: rotate(0deg);
    //     }
    //     100%{
    //         transform: rotate(360deg);
    //     }
    // }
    
    #settings-heading  {
        position: relative;
        bottom: 10px;
        font-size: 2em;
        color: #ff0000;
        font-weight: 500;
        text-align: left;
        letter-spacing: 0,1em;
    
    }
    
    .delete-btn {
        position: relative;
        top: 30px;
        text-align: center;
    }
      